/* TESTING */

.flex {
    display: flex;
    margin: 0;
    padding: 8%;
    gap: 3%;
}

.flex__image {
    background: blue;
    flex: 1 1 0;

}

.flex__image img{
    max-width: 100%;

}

.flex__content {
    background: red;
    flex: 1 1 0;
}


* {
    border: 1px solid green;
} 

body {
    margin: 0;
}