@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.headline {
    font-weight: 900;
}

header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    align-items: center;
    padding: 0.5% 15%;
}

.header__links {
    display: flex;
    list-style: none;
    gap: 18px;
    font-size: 1.3vw;
    color: #E5E7EB
}

.header__logo {
    font-weight: 900;
    font-size: 2vw;
}

.hero {
    background-color: #1F2937;
    padding: 7% 15%;
    display: flex;
    gap: 4%;
}

.hero__content{
    flex: 40 1 0;
    display: flex;
    flex-direction: column;
    max-height: 35vh;
    justify-content: space-between;
    align-content: safe;
}

.hero__image{
    flex: 50 1 0;
    max-height: 35vh;
}

.hero__headline {
    color: #F9FAF8;
    font-size: 3.3vw;
    line-height: 1;
}

.hero__text {
    color: #E5E7EB;
    font-size: 1.4vw;
}

.hero__image img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
.cta-btn{
    background: #3882f6;
    color: #fff;
    font-weight: 500;
    border-style: none;
    padding: 2% 6%;
    border-radius:  1.2vh;
    
    font-size: 1vw;
}
.cta--hero {
    align-self: flex-start;
    margin: 1% 0%;
}